today {
	font-size: 200%;
//	font-weight: bold;
//	font-style: italic;
	color: white;
//	background-color: hsla(120,0%,0%,0.8);
//	position: fixed;
//	left: 5%;
//	top: 5%;
	}
// body {
//	background-size: 50% 50%;
//	background-image: url(images/yager.jpg);
//	background-attachment: fixed;
//	}
	table {
	position: fixed;
	left: 5%;
	top: 5%;
	height: 10%;
	width: 90%;
	background-color: hsla(20,10%,20%,0.9);
	border-radius: 50px 20px 50px 20px;
	}	
	textn {
//	font-size: 200%;
	font-style: italic;
	color: lime;
	}
	textu {
	color: red;
	font-weight: bold;
	font-style: italic;
	}
	button {
	font-size: 130%;
	color: hsla(45,50%,60%,1);
	background-color: hsla(20,10%,20%,0.0);
	}